/*==============================================================================
                      DEFAULT VALUE

    Font Family          : Roboto Condensed

    Greenish Blue        : #34c6d3 (Buttons, Icons, Links, Lines & Backgrounds)
    Steel Grey           : #41464b (Headings)
    Blue Bayoux          : #64707b (Paragraphs)
    White                : #fff    (Texts with black backgrounds)
    Black                : #000

==============================================================================*/

/* General CSS */

html, body {
  height: 100%;
}

body {

  font-family: "Roboto Condensed", sans-serif;
}

/*==============================================================================
                      HOME
==============================================================================*/
#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
